<!doctype html>
    <html class='no-js' lang=''>
    <head>
        <meta name='pdfkit-orientation' content='Landscape'/>
        <link rel='stylesheet' type='text/css' href='assets/full.css'>
    </head>
    <body class='page'>
        <div class='certificate'>
            <div class='aws_logo'>
                <img src='assets/aws.png' />
            </div>
            <div class='gameday_logo'>
                <img src='assets/unicorn.png' />
            </div>
            <p class='title'>AWS Migration GameDay</p>
            <p class='online'>Online</p>
            <p>&nbsp;</p>
            <p>Many thanks go out to</p>
            <p class='name' id='participant_name'>{fullname}</p>
            <p class='textblock'>for spending <strong>{date}</strong> helping to Modernize the Enterprise at the <strong>AWS Migration GameDay</strong>. You showed you can Dive Deep, Learn and Be Curious and help <span class='unicorn'>Unicorn Rentals</span> achieve its goal of becoming the World's #1 Full-Service Unicorn Provider.</p>
            <p>&nbsp;</p>
            <p class='thanks'>Thanks for being a part of the AWS Migration GameDay.</p>
            <p class='signature'>—The AWS Migration Team</p>
        </div>
    </body>
</html>